@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Euclid Regular';
  src: url('/fonts/EuclidRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Light';
  src: url('/fonts/EuclidLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Medium';
  src: url('/fonts/EuclidMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid SemiBold';
  src: url('/fonts/EuclidSemibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Bold';
  src: url('/fonts/EuclidBold.ttf') format('truetype');
}

.font-euclid {
  font-family: 'Euclid Regular', sans-serif;
}

.font-euclid-bold {
  font-family: 'Euclid Bold', sans-serif;
}

.font-euclid-light {
  font-family: 'Euclid Light', sans-serif;
}

html {
  font-family: 'Euclid Regular', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* ------------------------------- *\
         Header Components
\* ------------------------------- */

/* Menu Btn */
.menu-btn {
  @apply w-10 h-10 grid place-items-center 
  bg-white text-blackEno rounded-xl border border-gray-300 
 hover:bg-gray-100 
  transition-all active:scale-95;
}

/* --------------------------------------- */
/* NavBar */
/* --------------------------------------- */

.navbar {
  @apply absolute top-full mt-2 w-64 right-0 min-w-40 p-2 bg-white 
    rounded-2xl ring-inset ring-1 ring-grayEno/30 scale-90 isolate 
    opacity-0 invisible transition-[opacity,transform,filter] 
    md:static md:flex md:items-center md:mt-0 md:opacity-100 
    md:visible md:scale-100 m-3;
}

.navbar.active {
  @apply opacity-100 scale-100 visible shadow-2xl;
}

.nav-link {
  @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-grayEno hover:text-blackEno transition-colors;
}

.nav-link.active {
  @apply text-blackEno duration-500;
}

.navbar .active-box {
  @apply absolute inset-0 w-full h-full bg-neutral rounded-2xl 
    transition-all duration-500 -z-10;
}

/* Efecto de Vidrio Líquido para el Header y Cards */
.liquid-glass {
  position: relative;
  isolation: isolate;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.liquid-glass::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  backdrop-filter: blur(12px); /* El blur base */
  filter: url(#container-glass); /* La distorsión líquida */
}

/* Brillo en el borde superior para realismo */
.liquid-glass::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
